<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="aspnetmaster" value="https://www.myget.org/F/aspnetmaster/api/v3/index.json" />
    <add key="Daviato storm packages" value="https://www.myget.org/F/daviatorstorm/api/v3/index.json" />
    <add key="Api nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <activePackageSource>
    <add key="aspnetmaster" value="https://www.myget.org/F/aspnetmaster/api/v3/index.json" />
  </activePackageSource>
</configuration>